{% trans_default_domain 'FOSUserBundle' %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card card-theme">
                <div class="card-header text-white">
                    <div class="card-header-title">
                        Edit
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ path('fos_user_profile_edit') }}"  method="POST">
                        <div class="form-group" id="fos_user_profile_form">
                            <label>{{ 'Email'|trans }}</label>
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.email) }}
                            <br>
                            <label>{{ 'Username'|trans }}</label>
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.username) }}
                            <br>
                            <label>{{ 'Password'|trans }}</label>
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.current_password) }}

                            {{ form_rest(form) }}

                        </div>
                        <div class="form-group">
                            <input class="btn btn-lg btn-primary" type="submit" value="{{ 'Update' }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>