{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <img src="{{ level.thumbnail }}" alt="???" >
            </div>
            <div class="col-5">
                <h2> level.title </h2>
                <p> level.description </p>
                <p>Create by {{ level.user.username }} at : {{ level.createdAt|date('h:m d-m-Y') }}</p>
                <p>Finished : {{ level.finished }}/{{ level.played }}</p>
                {% if app.user %}
                    {% if mark is not empty %}
                            <div class="myRateYo" data-rating="{{ mark[0].score }}">Present</div>
                        {% else %}
                            <div class="myRateYo" data-rating=""></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}