{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <img src="https://editor.wooly.cat/src/assets/screenshots/{{ level.slug }}.png" alt="{{ level.name }}">
            </div>
            <div class="col-5">
                <h2> {{ level.name }} </h2>
                {% if level.user is defined and level.user is not null %}
                    <p>Créé par <a href="{{ url('userIndex', {usernameCanonical: level.user.usernameCanonical}) }}">{{ level.user.username }}</a> à : {{ level.createdAt|date('h:m d-m-Y') }}</p>
                {% else %}
                    <p>Créé par Anonyme à : {{ level.createdAt|date('h:m d-m-Y') }}
                {% endif %}
                <p>Nombre de fois fini / joué : {{ level.won }}/{{ level.played }}</p>
                {% if app.user %}
                    {% if mark is not empty %}
                            <div class="myRateYo" data-rating="{{ mark[0].score }}">Present</div>
                        {% else %}
                            <div class="myRateYo" data-rating="0"></div>
                    {% endif %}
                    <div class="hidden level_id" data-id="{{ level.id }}"></div>
                    <div class="hidden user_id" data-id="{{ user.id }}"></div>
                {% endif %}
                <a class="btn btn-primary"  href="//game.wooly.cat/level/{{ level.slug }}{{ hash is not empty ? '?id='~hash : '' }}">JOUER</a>
                <a class="btn btn-primary"  href="//chat.wooly.cat/level/{{ level.slug }}">CHAT</a>
            </div>
        </div>
    </div>
{% endblock %}