{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row levels">
            {% for level in levels %}
                <div class="col-4 levels--level">
                    <div class="row">
                        <a class="col-7"  href="{{ url('levelIndex', {id: level.id}) }}">
                            <img src="//editor.wooly.cat/src/assets/screenshots/{{ level.slug }}.png" alt="{{ level.name }}">
                        </a>
                        <div class="col-5">
                            <h4> {{ level.name }} </h4>
                            {% if level.user is defined and level.user is not null %}
                                <a href="{{ url('userIndex', {usernameCanonical: level.user.usernameCanonical}) }}">{{ level.user.username }}</a>
                            {% else %}
                                Anonyme
                            {% endif %}
                            <p class="rateYo" data-rating="{{ level.score }}"></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}