{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row levels">
            {% for level in levels %}
                <div class="col-4 levels--level">
                    <div class="row">
                        <a class="col-7"  href="/level/{{ level.id }}">
                            <img src="{{ level.thumbnail }}" alt="{# {{ level.alt }} #}">
                        </a>
                        <div class="col-5">
                            <h4> level.title </h4>
                            <a href="{{ url('userIndex', {usernameCanonical: level.user.usernameCanonical}) }}">{{ level.user.username }}</a>
                            <p> level.description </p>
                            {{ level.globalNote }}
                            <p class="rateYo" data-rating="1.6"></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}