{% trans_default_domain 'FOSUserBundle' %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card card-theme">
                <div class="card-header text-white">
                    <div class="card-header-title">
                        Inscription
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ path('fos_user_registration_register') }}"  method="POST">
                        <div class="form-group" id="fos_user_registration_form">
                            <label for="email">{{ 'Email'|trans }}</label>
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.email) }}
                            <br>
                            <label for="username">{{ 'Nom d\'utilisateur'|trans }}</label>
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control' } }) }}
                            {{ form_errors(form.username) }}
                            <br>
                            <label for="password">{{ 'Mot de passe'|trans }}</label>
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.plainPassword.first) }}
                            <br>
                            <label for="confirmation">{{ 'Confirmation'|trans }}</label>
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.plainPassword.second) }}

                            {{ form_rest(form) }}

                        </div>
                        <div class="form-group">
                            <input class="btn btn-lg btn-primary" type="submit" value="{{ 'Inscription' }}">
                        </div>
                        <p>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a>.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>