{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <home-slider></home-slider>
        </div>
        <div class="col-xs-12 col-md-3">
            <news></news>
        </div>
    </div>
    <h2 class="mt-5">Les derniers niveaux</h2>
    <div class="row">
        {% for level in levels %}
            <div class="col-md-4 col-sm-6 home-level shadow-lg">
                <a href="{{ url('levelIndex', {id: level.id}) }}">
                    <h3>{{ level.name }}</h3>
                    <div class="thumbnail">
                        <img src="//editor.wooly.cat/src/assets/screenshots/{{ level.slug }}.png" alt="{{ level.name }}"g>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('levelListing') }}" class="btn btn-primary">Voir tous les niveaux</a>
</div>
{% endblock %}
