<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wooly{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <script>
            let flashAlerts = [];
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    flashAlerts.push( { ["{{ type }}"]: "{{ message }}" } );
                {% endfor %}
            {% endfor %}
        </script>
        {% block body %}
            <div id="app">
                <navbar
                    user="{{ app.user }}"
                    ref="navbar"
                ></navbar>
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
