<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wooly{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <script>
            let flashAlerts = [];
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    flashAlerts.push( { ["{{ type }}"]: "{{ message }}" } );
                {% endfor %}
            {% endfor %}
        </script>
        {% block body %}
            <div id="app">
                <header-area></header-area>

                <nav>
                    <div id="menu">
                        <ul>
                            <li class="rules"><a href="{{ path('tutorial') }}">Règles du jeu</a></li>
                            <li class="account"><a href="">Mon compte</a></li>
                            <li class="play"><a href="{{ path('levelListing') }}">Jouer</a></li>
                            <li class="editor"><a href="//editor.wooly.cat">Éditeur</a></li>
                        </ul>
                    </div>
                    <div class="greenline"></div>
                </nav>
                {#<navbar#}
                    {#user="{{ app.user }}"#}
                    {#ref="navbar"#}
                {#></navbar>#}
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
<script>

</script>