<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wooly{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    {% endblock %}
</head>
<body>
<script>
    let flashAlerts = [];
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            flashAlerts.push( { ["{{ type }}"]: "{{ message }}" } );
        {% endfor %}
    {% endfor %}
</script>
{% block body %}
        {% if app.user.id is defined %}
            <div id="app" data-userid="{{ app.user.id }}" data-username="{{ app.user.username }}">
        {% else %}
            <div id="app" data-user="">
        {% endif %}
        <header-area></header-area>
        <navbar
                user="{{ app.user }}"
                ref="navbar"
        ></navbar>
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script>
            let userId = document.querySelector('#app').dataset.userid;
            let userName = document.querySelector('#app').dataset.username;
            console.log(userId);
            console.log(userName);
            if (!userId || userId === '') {
                deleteCookie('wooly_user_id');
                deleteCookie('wooly_user_name');
            } else {
                setCookie('wooly_user_id', userId, 1);
                setCookie('wooly_user_name', userName, 1);
            }

            function setCookie(name, value, days) {
                let d = new Date;
                d.setTime(d.getTime() + 24*60*60*1000*days);
                document.cookie = name + "=" + value + ";path=/;domain=wooly.cat;expires=" + d.toGMTString();
            }

            function deleteCookie(name) { setCookie(name, '', -1); }
        </script>
    {% endblock %}
</body>
</html>
