{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h2>Profil de l'utilisateur</h2>
        {% if levels is not empty %}
            <h4 class="mt-4">Niveaux créés par cet utilisateur</h4>
            <div class="row levels m-3">
                {% for level in levels %}
                    <div class="col-4 levels--level">
                        <div class="row">
                            <a class="col-7"  href="https://wooly.cat/level/{{ level.id }}">
                                <img src="https://editor.wooly.cat/src/assets/screenshots/{{ level.slug }}.png" alt="{{ level.name }}">
                            </a>
                            <div class="col-5">
                                <h4>{{ level.name }}</h4>
                                <a href="{{ url('userIndex', {usernameCanonical: level.user.usernameCanonical}) }}">{{ level.user.username }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <p>Cet utilisateur n'a pas encore créé de niveau.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}